/* h1{
    color: red;
    background-color: green;
    border: 10px;
    padding: 50px;
    border-image: url("./image/nintendo.jpg");
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
}
#google{
    display: block;
}
p{text-align: center;
width: 500px;}

.heading2, #top, h6 , ul {
    color: cyan;
    font-size: 100px;
    font-size: 1.2em;
    font-size: 1.5rem;
}

#top{
    font-weight: 300;
}

ol li{
    color: blue;
}

ol>li{
    color: blue;
}

p{
    position: relative;
    bottom: 50px;
    transition: all  2s;
}

p:hover{
    color: #ff00ff;
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0,0.3);
}

a:active{
    color:  yellow;
}  */
/* .menu{
    background-color: #D5B0AC;
    font-weight: bold;
    font-size:#402E2A;  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:100px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:100px;
    background-color: #D5B0AC;
    min-width: 160px;
}
.menu span{
    text-align: center;
    padding-right:50px;
    padding-left:50px;
}

.menu :hover{
    color: #FFFFFF;
    background-color: #9CD08F;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:50px;
    padding-left:50px;
}

.dropdown-content span{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.menu:hover .dropdown-content {
    display: block;
  }

 */
 .menu{
    background-color: #D5B0AC;
    color: black;
    font-weight: bold;
    text-align: center;
}

.menu span{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.menu span:hover{
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}

.submenu{
    display: none;
    position: absolute;
}

.menu span:hover > .submenu{
    display: block;
}
.submenu .submenu{
    left:100%;
}